<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wtssg.xdly.digoubuytradeservice.trade.dao.ShoppingCartMapper">
  <resultMap id="BaseResultMap" type="wtssg.xdly.digoubuytradeservice.trade.entity.ShoppingCart">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_uuid" jdbcType="BIGINT" property="userUuid" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="sku_num" jdbcType="INTEGER" property="skuNum" />
    <result column="check_status" jdbcType="TINYINT" property="checkStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="ShopCartItemMap" type="wtssg.xdly.digoubuytradeservice.trade.entity.ShoppingCartItem">
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="sku_num" jdbcType="INTEGER" property="skuNum" />
    <result column="check_status" jdbcType="TINYINT" property="checkStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_uuid, sku_id, sku_num, check_status, create_time, update_time
  </sql>

  <select id="selectByUuid" parameterType="java.lang.Long" resultMap="ShopCartItemMap">
    select
    id, sku_id, sku_num, check_status
    from t_shopping_cart
    where user_uuid = #{uuid}
  </select>

  <select id="selectByUuidAndStatus" parameterType="java.lang.Long" resultMap="ShopCartItemMap">
    select
    id, sku_id, sku_num
    from t_shopping_cart
    where user_uuid = #{uuid} and check_status = 1
  </select>

  <delete id="deleteByPrimaryKeyList" parameterType="java.util.List">
    delete from t_shopping_cart
    where id in
    <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <select id="selectByShoppingCart" parameterType="wtssg.xdly.digoubuytradeservice.trade.entity.ShoppingCart" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_shopping_cart
    where user_uuid = #{userUuid} and sku_id = #{skuId}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_shopping_cart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="wtssg.xdly.digoubuytradeservice.trade.entity.ShoppingCart">
    insert into t_shopping_cart (id, user_uuid, sku_id, 
      sku_num, check_status, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{userUuid,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, 
      #{skuNum,jdbcType=INTEGER}, #{checkStatus,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="wtssg.xdly.digoubuytradeservice.trade.entity.ShoppingCart">
    insert into t_shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userUuid != null">
        user_uuid,
      </if>
      <if test="skuId != null">
        sku_id,
      </if>
      <if test="skuNum != null">
        sku_num,
      </if>
      <if test="checkStatus != null">
        check_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userUuid != null">
        #{userUuid,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="skuNum != null">
        #{skuNum,jdbcType=INTEGER},
      </if>
      <if test="checkStatus != null">
        #{checkStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wtssg.xdly.digoubuytradeservice.trade.entity.ShoppingCart">
    update t_shopping_cart
    <set>
      <if test="userUuid != null">
        user_uuid = #{userUuid,jdbcType=BIGINT},
      </if>
      <if test="skuId != null">
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="skuNum != null">
        sku_num = #{skuNum,jdbcType=INTEGER},
      </if>
      <if test="checkStatus != null">
        check_status = #{checkStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="wtssg.xdly.digoubuytradeservice.trade.entity.ShoppingCart">
    update t_shopping_cart
    set user_uuid = #{userUuid,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      sku_num = #{skuNum,jdbcType=INTEGER},
      check_status = #{checkStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>