<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
</head>
<body>
<div>


</div>
<script src="/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    var href = window.location.href;
    var tradeNo = decodeURI(href.substring(href.indexOf("tradeNo"),href.length));
    tradeNo = tradeNo.substring(tradeNo.indexOf("=") + 1, tradeNo.length);
    $(function () {
        $.ajax({
            type: "GET",
            url: "http://localhost:8666/alipay/pay/" + tradeNo,
            dataType: "json",
            success: function (data) {
                if (data.code == 200) {
                    $("body").html(data.data);
                }
            }
        });
    })
</script>
</body>
</html>